.podcast-list {
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 50px 0;
	padding: 0;
	list-style-type: none;
}

.podcast-list .separator {
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 30px;
}